#header{
	padding-top: 20px;
	padding-bottom: 20px;
}
body{
	background-image: url("https://www.walldevil.com/wallpapers/a77/background-retina-macbook-beautiful-backgrounds-images.jpg");
	background-position: center;
	background-repeat: no-repeat;
}